.root{
  display:flex;
  flex-direction: column;
  width:100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
}

.top{
 width:100vw;
 height:12vh;
 background-color: #F2EFE5;
}

.main{
  display:flex;
  width:80vw;
  height:88vh;
  background-color: #C7C8CC;

}